# Python
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
/venv
/junk
/test

# Java
*.class

# C
*.obj
*.o
*.out

# Executable
*.exe
*.run

# vscode
.vscode